.sm-filter.MuiFormControl-root {
  min-width: 150px;
}

.MuiMenuItem-root,
.MuiInputBase-formControl {
  text-transform: capitalize;
}

.MuiInputBase-input.MuiSelect-select {
  padding: 10px;
}

@media (max-width: 600px) {
  .sm-filter.MuiFormControl-root {
    min-width: 100px;
  }
}
