.sm-modal-card {
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__headline,
  &__elevation {
    min-width: 150px;
    max-width: 150px;
  }

  &__headline {
    color: var(--gray-500);
    margin-bottom: 10px;
  }

  &__elevation {
    color: var(--gray-500);
    font-family: "Roboto";
    margin-bottom: 40px;
  }

  &__input.MuiInput-input {
    font-family: var(--font-family);
    color: var(--font-color);
    font-weight: 600;
    font-size: 18px;
  }

  &__trail-list {
    color: var(--gray-500);
    margin: 20px;
    overflow: hidden;
  }

  &__trail-headline {
    margin: 0 10px 10px;
    text-align: center;
  }

  &__btsn-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20;

    button {
      margin: 10px 20px;
    }
  }

  &__error {
    margin-top: 10px;
    color: var(--red-200);
    font-size: 12px;
  }

  &__input-root.Mui-readOnly {
    .sm-modal-card-input.Mui-readOnly {
      text-align: center;
    }

    &::before,
    &::after {
      display: none;
    }
  }
}
